{% extends 'base.html' %}
{% block MAIN %}
	<div class="centro">
		<h2 style="color:#3b444b;">Bienvenido/a</h2>
		<h4 style="color:#3b444b;">A nuestro moderno sistema de reserva horaria donde podrá:</br></h4>
		 <h5 style="color:#3b444b;">- Determinar el día, la hora y el profesional que más le acomoden.</h5>
		 <h4 style="color:#3b444b;">Y luego:</br</h4>
		 		 <h5 style="color:#3b444b;">- Reservar, revisar y eliminar una hora.</br></h5>
		<h4 style="color:#3b444b;">Todo desde la comodidad de su casa.</h4>
	    <form action="/login" method="post">
	        {% csrf_token %}
	        {{login_form.as_p}}
	        <input type="submit" class="btn btn-primary" value="Ingresar">
	    </form>
	    <a data-toggle="modal" href="#registro" class="btn btn-primary btn-large centro">Registrate</a>
	</div>

	<div id="registro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel" style="color:#3b444b;">Formulario de Registro</h3>
		</div>
		<div class="modal-body">
		    <form action="/crear/usuario" method="post">
		        {% csrf_token %}
		        {{regis_form.as_p}}
	        	<input type="submit" class="btn btn-primary" value="Registrarse">
	    	</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary">Cerrar</button>
		</div>
	</div>
{% endblock %}