{% extends 'base.html' %}
{% block MAIN %}
<div class="tabbable tabs-left">      
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#informacioness" data-toggle="tab">Informaciones</a></li>
		<li><a href="#reservars" data-toggle="tab">Reservar hora</a></li>
		<li><a href="#cancelars" data-toggle="tab">Cancelar hora de un paciente</a></li>
		<li><a href="#administrars" data-toggle="tab">Administrar Cuenta</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="informacioness">
			Bienvenido/a Secretario/a, en esta sección podrá gestionar las agendas de pacientes y la disponibilidad  de  la clínica.
		</div>
		<div class="tab-pane fade" id="reservars">
			<img src="{{STATIC_URL}}/img/webconstruccion.jpg" alt="logo">
		</div>
		<div class="tab-pane fade" id="cancelars">
			<img src="{{STATIC_URL}}/img/webconstruccion.jpg" alt="logo">
		</div>
		<div class="tab-pane fade" id="administrars">
			<h3>Hola! {{user.secretaria.nombres}} {{user.secretaria.apellido_p}} {{user.secretaria.apellido_m}}</h3>
			<div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
	                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	                    	<div class="edicioni">Contraseña</div><div class="edicionc">*******</div><div class="ediciond">Modificar</div>
	                    </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
	                    <div class="accordion-inner">
        				    <form action="modificar/password" method="post">
						        {% csrf_token %}
						        {{modificarp_form.as_p}}
					        	<input type="submit" class="btn" value="Modificar">
					    	</form>	 	                    	
	                    	
	                    </div>
                    </div>
                </div>
                <div class="accordion-group">
                  	<div class="accordion-heading">
                    	<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	                    	<div class="edicioni">Correo</div><div class="edicionc">{{user.email}}</div><div class="ediciond">Modificar</div>
                    	</a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
	                    <div class="accordion-inner">
        				    <form action="modificar/correo" method="post">
						        {% csrf_token %}
						        {{modificare_form.as_p}}
					        	<input type="submit" class="btn" value="Modificar">
					    	</form>      	
	                    </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    	<div class="edicioni">Telefono Celular</div><div class="edicionc">{{user.secretaria.telefono_c}}</div><div class="ediciond">Modificar</div>
                    </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                    	<div class="accordion-inner">
        				    <form action="modificar/telefonocelular" method="post">
						        {% csrf_token %}
						        {{modificartc_form.as_p}}
					        	<input type="submit" class="btn" value="Modificar">
					    	</form>
                    	</div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                    	<div class="edicioni">Telefono Fijo</div><div class="edicionc">{{user.secretaria.telefono_f}}</div><div class="ediciond">Modificar</div>
                    </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
                    	<div class="accordion-inner">
        				    <form action="modificar/telefonofijo" method="post">
						        {% csrf_token %}
						        {{modificartf_form.as_p}}
					        	<input type="submit" class="btn" value="Modificar">
					    	</form>
                    	</div>
                    </div>
                </div>	                
            </div>			
		</div>
	</div>
</div>
{% endblock %}